{% extends "base.html" %}

{% block content %}

<h1>Angry Resources</h1>
	<p>The following video will explain the main facial features that you should
	learn to recognise when someone is expressing the emotion of Anger.</p>

	<p> It is important that once you have watched all the videos for all 12 emotions
	that you retake the quiz. This helps us to detect if the resources are useful.</p>

	<center><iframe width="560" height="315" src="https://www.youtube.com/embed/55Dt_4KfK8Y?start=40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

{% endblock %}