{% extends "base.html" %}

{% block content %}
<div class="learningZone-wrapper">
	
	<div class="learningZone">
	<div>
		<div class="box">
			<img src="/img/angry.png">
		</div>
		<a href=angry><button>Angry</button></a>
	</div>
	<div>
		<div class="box">
			<img src="/img/anxious.jpg">
		</div>
		<a href=anxious><button>Anxious</button></a>

	</div>
	<div>
		<div class="box">
			<img src="/img/board.png">
		</div>
		<a href=bored><button>Bored</button></a>
	</div>
	<div>
		<div class="box">
			<img src="/img/confuse.jpg">
		</div>
		<a href=confuse><button>Confused</button></a>
	</div>
	<div>
		<div class="box"><img src="/img/contempt.png">
		</div>
		<a href=contmpt><button>Contempt</button></a>
	</div>
	<div>
		<div class="box"><img src="/img/disappoint.jpg">
		</div>
		<a href=disappointed><button>Disappointed</button></a>
	</div>
	<div>
		<div class="box">
			<img src="/img/disgust.png">
		</div>
		<a href=disappointed><button>Disgust</button></a>
	</div>
	<div>
		<div class="box"><img src="/img/fear.png">
		</div>
		<a href=fear><button>Fear</button></a>
	</div>
	<div>
		<div class="box"><img src="/img/happy.jpg">
		</div>
		<a href=happy><button>Happy</button></a>
	</div>
	<div>
		<div class="box"><img src="/img/sad.jpg">
		</div>
		<a href=sad><button>Sad</button></a>
	</div>
	<div>
		<div class="box"><img src="/img/scared.jpg">
		</div>
		<a href=scared><button>Scared</button></a>
	</div>
	<div>
		<div class="box"><img src="/img/surprised.jpg">
		</div>
		<a href=surprised><button>Surprised</button></a>
	</div>
</div>
</div>
{% endblock %}